<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparação entre Horários</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <h2>Resultados da Comparação:</h2>

  <div>
    <h3><u>Gráfico de Cordenadas Paralelas:</u></h3>
    {{ parallel_chart_html|safe }}
  </div>
  <div>
    <h3><u>Tabela de comparação:</u></h3>
    {{ table_html|safe }}
  </div>

</body>
</html>