<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chord Diagram</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

  <h2>Diagrama de Cordas referente ao horário</h2>

  <!-- Plotly chart container -->
  <div id="chord-diagram"></div>

  <script>
      Plotly.newPlot('chord-diagram', JSON.parse("{{graph_json|escapejs}}"));
  </script>

</body>
</html>