<!-- templates/heatmap_with_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heatmap referente ao horário</title>
    <h2>Heatmap referente ao horário</h2>
    <p>Nota: z = nº de aulas a essa hora!</p>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<div id="heatmap"></div>

<script>
    var data = JSON.parse("{{graph_json|escapejs}}");

    // Set the layout properties to adjust the size of the heatmap
    var layout = {
        height: 800,  // Set the desired height in pixels
        width: 1600,  // Set the desired width in pixels
        title: 'Your Heatmap Title',  // Set your heatmap title here
        xaxis: {
            title: 'Day of Week'
        },
        yaxis: {
            title: 'Time of Day'
        }
    };

    // Render the Plotly graph in the 'heatmap' div with the specified layout
    Plotly.newPlot('heatmap', data, layout);
</script>

</body>
</html>