<!DOCTYPE html>
<html>
<head>
<title>Software de suporte à gestão de horários do Iscte</title>
</head>
<body>
<h1>Conversão de ficheiros json ou csv</h1>
<p><b><u>Escolha um ficheiro de Horários, para converter em ficheiro csv ou json:</u></b></p>
<form id="schedule_form" action="{% url 'calendario:convertView' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Escolha entre enviar arquivo local ou fornecer URL -->
    <label for="file_source">Escolha a origem do ficheiro:</label><br>
    <select id="file_source" name="file_source" onchange="toggleFileInput()">
        <option value="local" selected>Ficheiro Local</option>
        <option value="remote">URL Remoto</option>
    </select><br><br>

    <!-- Campo para upload de arquivo local -->
    <label for="uploaded_file" id="uploaded_file_label">Selecionar ficheiro local:</label>
    <input type="file" id="uploaded_file" name="uploaded_file"><br><br>

    <!-- Campo para fornecer URL remoto -->
    <label for="file_url" style="display: none;">Selecionar URL remoto:</label>
    <input type="text" id="file_url" name="file_url" style="display: none; width: 700px;"><br><br>

    <input type="submit" value="Submeter" name="submeter">
</form>

<script>
    // Função para alternar entre os campos de entrada com base na escolha do usuário
    function toggleFileInput() {
        var fileSource = document.getElementById('file_source').value;
        var uploadedFileLabel = document.getElementById('uploaded_file_label');
        var uploadedFile = document.getElementById('uploaded_file')
        var fileUrlLabel = document.querySelector('label[for="file_url"]');
        var fileUrlInput = document.getElementById('file_url');

        localStorage.setItem('fileSource', fileSource);

        if (fileSource === 'local') {
            uploadedFileLabel.style.display = 'block';
            fileUrlInput.style.display = 'none';
            fileUrlLabel.style.display = 'none';
            uploadedFile.style.display = 'block';
            uploadedFile.disabled = false;
        } else if (fileSource === 'remote') {
            uploadedFileLabel.style.display = 'none';
            fileUrlLabel.style.display = 'block';
            fileUrlInput.style.display = 'block';
            uploadedFile.style.display = 'none';
            uploadedFile.disabled = true;
        }
    }
</script>
<hr>
    <h1>Criação de novo horário</h1>
    <form action=" {% url 'calendario:class_rooms' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="class_rooms">Selecionar ficheiro de salas:</label>
        <input type="file" id="class_rooms" name="class_rooms"><br><br>
        <label for="classes">Selecionar ficheiro de aulas:</label>
        <input type="file" id="classes" name="classes"><br><br>
        <input type="submit" value="Submeter" name="submeter">
    </form><br>
<hr>
    <h1>Visualizar horário</h1>
    <form method="post" action="{% url 'calendario:observeCalendar' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file">Selecionar ficheiro de aulas:</label>
    <input type="file" name="file" id="file">
        <br><br><label for="class_rooms"><b><u>Por favor introduza o número da coluna de cada característica, no ficheiro csv:</u></b></label>
        <br><br><label>Curso:</label>
        <input type="number" id="curso_index" name="curso_index">
        <br><br><label>Unidade de execução:</label>
        <input type="number" id="unidade_execucao_index" name="unidade_execucao_index">
        <br><br><label>Turno:</label>
        <input type="number" id="turno_index" name="turno_index">
        <br><br><label>Turma:</label>
        <input type="number" id="turma_index" name="turma_index"><br><br>
        <label>Número de inscritos no turno:</label>
        <input type="number" id="inscritos_index" name="inscritos_index"><br><br>
        <label>Dia da semana:</label>
        <input type="number" id="dia_semana_index" name="dia_semana_index"><br><br>
        <label>Inicío:</label>
        <input type="number" id="inicio_index" name="inicio_index"><br><br>
        <label>Fim:</label>
        <input type="number" id="fim_index" name="fim_index"><br><br>
        <label>Dia:</label>
        <input type="number" id="dia_index" name="dia_index"><br><br>
        <label>Características pedidas para a sala:</label>
        <input type="number" id="sala_expectavel" name="sala_expectavel"><br><br>
        <label>Sala de Aulas:</label>
        <input type="number" id="sala_index" name="sala_index"><br><br>
        <label>Lotação das salas:</label>
        <input type="number" id="lotacao_index" name="lotacao_index"><br><br>
        <label>Caracteristicas reais da sala:</label>
        <input type="number" id="sala_real" name="sala_real"><br><br>
    <input type="submit" value="Visualizar">
</form>
<hr>
<h1>Visualizar Heatmap</h1>
<p>Selecione ficheiro de aulas, em formato csv:</p>
<form method="post" action="{% url 'calendario:heatmap' %}" enctype="multipart/form-data">
{% csrf_token %}
    <input type="file" id="heatmap_file" name="heatmap_file"><br><br>
    <input type="submit" value="Visualizar">
</form>
<hr>
<h1>Visualizar Gráfico de Cordas</h1>
<p>Selecione ficheiro de aulas, em formato csv:</p>
<form method="post" action="{% url 'calendario:cordas' %}" enctype="multipart/form-data">{% csrf_token %}
    <input type="file" id="chord_file" name="chord_file"><br><br>
    <input type="submit" value="Visualizar">
</form>

</body>
 </html>