<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendário</title>

</head>
<body>
   <h1>Critérios de qualidade</h1>
    <form id="form_criterios_qualidade" action=" {% url 'calendario:get_informations' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="input_file">Select a file to see informations of the classes:</label>
        <input type="file" id="input_file" name="input_file"><br><br>
        <input type="submit" Value="Ver informações">
    </form>

    <h1>Adicionar novo critério de qualidade</h1>
    <form id="form_novo_criterio" action=" {% url 'calendario:new_criteria' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="input_txt_file">Select a txt file to import quality criteria:</label>
        <input type="file" id="input_txt_file" name="input_txt_file"><br><br>
        <input type="submit" Value="Submeter">
    </form>

</body>
</html>